@font-face {
  font-family: 'Charmonman';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Charmonman Regular'), local('Charmonman-Regular'), url(https://fonts.gstatic.com/s/charmonman/v3/MjQDmiR3vP_nuxDv47jiaJaiuA.ttf) format('truetype');
}
@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Itim'), local('Itim-Regular'), url(https://fonts.gstatic.com/s/itim/v4/0nknC9ziJOYe8ANAlQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Solway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Solway Regular'), local('Solway-Regular'), url(https://fonts.gstatic.com/s/solway/v1/AMOQz46Cs2uTAOCmhXo5.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bitter Regular'), local('Bitter-Regular'), url(https://fonts.gstatic.com/s/bitter/v15/rax8HiqOu8IVPmn7f4xs.ttf) format('truetype');
}
@font-face {
  font-family: 'Solway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Solway Regular'), local('Solway-Regular'), url(https://fonts.gstatic.com/s/solway/v1/AMOQz46Cs2uTAOCmhXo5.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bitter Regular'), local('Bitter-Regular'), url(https://fonts.gstatic.com/s/bitter/v15/rax8HiqOu8IVPmn7f4xs.ttf) format('truetype');
}
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Eczar Regular'), local('Eczar-Regular'), url(https://fonts.gstatic.com/s/eczar/v8/BXRlvF3Pi-DLmz0lDOs.ttf) format('truetype');
}
@font-face {
  font-family: 'Solway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Solway Regular'), local('Solway-Regular'), url(https://fonts.gstatic.com/s/solway/v1/AMOQz46Cs2uTAOCmhXo5.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bitter Regular'), local('Bitter-Regular'), url(https://fonts.gstatic.com/s/bitter/v15/rax8HiqOu8IVPmn7f4xs.ttf) format('truetype');
}
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Eczar Regular'), local('Eczar-Regular'), url(https://fonts.gstatic.com/s/eczar/v8/BXRlvF3Pi-DLmz0lDOs.ttf) format('truetype');
}
@font-face {
  font-family: 'Solway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Solway Regular'), local('Solway-Regular'), url(https://fonts.gstatic.com/s/solway/v1/AMOQz46Cs2uTAOCmhXo5.ttf) format('truetype');
}
@font-face {
  font-family: 'Spicy Rice';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Spicy Rice'), local('SpicyRice-Regular'), url(https://fonts.gstatic.com/s/spicyrice/v8/uK_24rSEd-Uqwk4jY1RyKvi8Xg.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kanit Regular'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v5/nKKZ-Go6G5tXcraVGwU.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kanit Regular'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v5/nKKZ-Go6G5tXcraVGwU.ttf) format('truetype');
}
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Luckiest Guy Regular'), local('LuckiestGuy-Regular'), url(https://fonts.gstatic.com/s/luckiestguy/v10/_gP_1RrxsjcxVyin9l9n_j2hTd5z.ttf) format('truetype');
}
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v8/1cXxaUPXBpj2rGoU7C9WiHGA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fredericka the Great';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fredericka the Great'), local('FrederickatheGreat'), url(https://fonts.gstatic.com/s/frederickathegreat/v9/9Bt33CxNwt7aOctW2xjbCstzwVKsIBVV--SjxbI.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kanit Regular'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v5/nKKZ-Go6G5tXcraVGwU.ttf) format('truetype');
}
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Luckiest Guy Regular'), local('LuckiestGuy-Regular'), url(https://fonts.gstatic.com/s/luckiestguy/v10/_gP_1RrxsjcxVyin9l9n_j2hTd5z.ttf) format('truetype');
}
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v8/1cXxaUPXBpj2rGoU7C9WiHGA.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-image: linear-gradient(#00adb5, #eeeeee);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.containerTop ul {
  list-style: none;
}
.containerTop a {
  color: #34495e;
  text-decoration: none;
  padding: 10px 15px;
}
.containerTop .logo {
  margin: -2% 0 0 0;
  font-size: 1.45em;
  width: 140px;
  height: 110px;
}
.containerTop .main-nav {
  display: flex;
  margin: 1% 0 0 0;
}
.containerTop .main-nav a {
  color: white;
  font-size: 2rem;
}
.containerTop .main-nav a:hover {
  color: #00adb5;
}
.containerTop .header {
  padding-top: 4em;
  border: 1px solid #a2a2a2;
  background-color: black;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  height: 130px;
  border-bottom: 2px solid #00adb5;
  z-index: 11;
}
@media (max-width: 1000px) {
  .logo {
    display: none;
  }
  .main-nav a {
    display: flex;
    margin: 0 100% 0 0;
  }
}
.footer-distributed {
  border-top: 2px solid #00adb5;
  height: 10vh;
  background-color: black;
  color: white;
}
.footer-distributed .footer-left {
  display: flex;
  justify-content: space-evenly;
}
.footer-distributed .footer-left a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
.footer-distributed .logofooter {
  display: flex;
  justify-content: center;
}
.footer-distributed .footer-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.one .bigimg {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  border: 2px solid black;
  border-radius: 25px;
  position: relative;
  z-index: -1;
}
.one .imgcont {
  border: 1px solid black;
  margin: -65% 5% 42% 15%;
  width: 25%;
  height: 25rem;
  background-color: black;
  color: white;
  font-family: 'Eczar', serif;
  border-radius: 25px;
  text-align: center;
}
.one .imgcont h2 {
  font-size: 3rem;
  font-family: 'Eczar', serif;
  margin: 2%;
}
.one .imgcont p {
  margin: 2%;
  font-size: 2rem;
}
.one .imgcont li {
  font-size: 2rem;
}
.one .imgcont h3 {
  background-color: #00adb5;
  color: white;
  width: 70%;
  font-family: 'Eczar', serif;
  font-size: 2.5rem;
  border: 2px solid black;
  border-radius: 10px;
  margin: 7% auto;
}
.firstImg {
  height: 100px;
  width: 100px;
  color: white;
}
.home .topContent {
  display: flex;
  text-align: center;
  color: white;
}
.home .secOne {
  margin: 2%;
}
.home .secOne h2 {
  color: white;
  font-family: 'Eczar', serif;
}
.home .secTwo {
  margin: 2%;
}
.home .secTwo h2 {
  color: white;
  font-family: 'Eczar', serif;
}
.home .secThree {
  margin: 2%;
}
.home .secThree h2 {
  color: white;
  font-family: 'Eczar', serif;
}
.home .topHeader {
  width: 100%;
  margin: -5% 0 0 0;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .middleaccess {
  background-image: url(http://josefetheridge.com/marketing-page/img/10.jpg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: white;
  height: 60vh;
  padding: 5rem;
  border-top: 2px solid #00adb5;
  border-bottom: 2px solid #00adb5;
}
.home .middleaccess .middleaccess2 {
  font-family: 'Eczar', serif;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50% ;
  margin: 7% auto;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  opacity: 0.8;
}
.home .middleaccess .middleaccess2 .buttonacc {
  border: 2px solid black;
  width: 60%;
  margin: 0 auto;
  height: 4rem;
  padding: 4px;
  font-size: 3rem;
  font-family: 'Spicy Rice', cursive;
  background-color: #00adb5;
}
.home .middleaccess .middleaccess2 img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.home .middlebtn {
  display: flex;
}
.home .middlebtn h1 {
  background-color: white;
  font-family: 'Eczar', serif;
  text-align: center;
  margin: 0 auto;
  font-size: 5rem;
  color: #00adb5;
}
.home .middlebtn .button {
  flex-direction: column;
  background-color: white;
  color: #00adb5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  font-size: 5rem;
  font-family: 'Eczar', serif;
  border-radius: 20px;
  border: 2px solid black;
}
.home .middlebtn .button span {
  font-family: 'Spicy Rice', cursive;
  font-size: 9rem;
}
.home .middlebtn .button:hover,
.home .middlebtn h1 {
  color: white;
  background-color: #00adb5;
}
.home .middlebtn .button1 {
  background-color: black;
  margin: 0 auto;
  margin-top: 2%;
  height: 8rem;
  font-size: 5rem;
  border-radius: 10px;
  color: white;
  padding: 12px;
}
.home .middlebtn .button1:hover {
  color: black;
  background-color: white;
}
.home .testimontop {
  text-align: center;
  margin-top: 2%;
}
.home .testimontop h2 {
  font-family: 'Itim', cursive;
  font-size: 5rem;
}
.home .testimon {
  display: flex;
  justify-content: space-evenly;
  margin: 2%;
}
.home .testimon h2 {
  font-size: 5rem;
  font-family: 'Itim', cursive;
}
.home .testimon .test {
  text-align: center;
}
.home .testimon img {
  box-shadow: 10px 5px 10px black;
  border-radius: 50%;
  margin-bottom: 2%;
}
.home .testimon p {
  text-align: center;
  margin: 3%;
}
.testimon1 {
  font-family: 'Eczar', serif;
}
.test1 {
  text-align: center;
  margin: 5% ;
  border-radius: 20PX;
}
.bottomlogo {
  width: 100%;
  height: 20rem;
  border-radius: 18PX;
}
.button3 {
  background-color: #00adb5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 30%;
  font-size: 3rem;
  border-radius: 10px;
  margin: 2% auto;
  font-family: 'Eczar', serif;
  background-color: black;
  color: white;
}
.button3:hover {
  background-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 30%;
  font-size: 0;
  border-radius: 10px;
  margin: 2% auto;
  font-family: 'Eczar', serif;
}
.button3:hover:before {
  font-size: 3rem;
  content: attr(data-hover);
}
@media (min-width: 1001px) {
  .logo3 {
    display: none;
  }
  .imgcont {
    height: 10rem;
  }
}
@media (max-width: 1000px) {
  .topContent {
    margin: 15% 0 0 0;
  }
  .one .bigimg {
    margin-top: 30%;
  }
  .one .imgcont {
    border: 1px solid black;
    margin: -62% 5% 10% 15%;
    width: 25%;
    height: 37rem;
    background-color: black;
    color: white;
    font-family: 'Eczar', serif;
    border-radius: 25px;
    text-align: center;
  }
  .one .imgcont .logo3 {
    width: 90px;
    height: 90px;
  }
  .one .imgcont h2 {
    font-size: 3rem;
    font-family: 'Eczar', serif;
    margin: -10% 0 0 0;
  }
  .one .imgcont p {
    margin: 2%;
    font-size: 2rem;
  }
  .one .imgcont li {
    font-size: 2rem;
  }
  .one .imgcont h3 {
    background-color: #00adb5;
    color: white;
    width: 70%;
    font-family: 'Eczar', serif;
    font-size: 2.5rem;
    border: 2px solid black;
    border-radius: 10px;
    margin: 7% auto;
  }
  .topContent {
    margin-top: 20%;
  }
  .testimon .th2 {
    background-color: black;
    color: white;
    height: 70px;
    width: 40%;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.7rem;
    margin: 1%;
  }
  .middlebtn .button {
    flex-direction: column;
    background-color: white;
    color: #00adb5;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    font-size: 3rem;
    font-family: 'Eczar', serif;
    border-radius: 20px;
    border: 2px solid black;
  }
  .middlebtn .button span {
    font-size: 6rem;
  }
  .middlebtn .button1 {
    background-color: black;
    margin: 0 auto;
    margin-top: 2%;
    height: 5rem;
    font-size: 2rem;
    border-radius: 10px;
    color: white;
    padding: 12px;
  }
}
.testimon1 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.testimon1 p {
  font-size: 3rem;
}
.testimon1 .test1 {
  text-align: center;
  width: 100%;
  margin: 5% ;
  border-radius: 20PX;
}
.testimon1 .test1 img {
  height: 75%;
}
.button3 {
  background-color: #00adb5;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 30%;
  font-size: 3rem;
  border-radius: 10px;
  margin: 2% auto;
  font-family: 'Eczar', serif;
  background-color: black;
}
.button3:hover {
  background-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 30%;
  font-size: 0;
  border-radius: 10px;
  margin: 2% auto;
  font-family: 'Eczar', serif;
}
.button3:hover:before {
  font-size: 3rem;
  content: attr(data-hover);
}
@media ( max-width: 800px) {
  .testimon h2 {
    text-align: center;
  }
  .one .imgcont {
    height: 11rem;
    width: 17rem;
  }
  .one .imgcont .logo3 {
    margin: 3% 0 0 15%;
  }
  .one .imgcont h2 {
    display: none;
  }
  .one .imgcont h3 {
    display: none;
  }
  .one .imgcont p {
    display: none;
  }
  .one .imgcont ul {
    display: none;
  }
  .home .middleaccess .middleaccess2 {
    width: 80%;
  }
  .home .middleaccess .middleaccess2 .buttonacc {
    font-size: 3rem;
    height: 7rem;
    border-radius: 5px;
    padding: 8px;
  }
  .home .topContent {
    margin: 40% 0 0 0;
  }
  .home .topContent h2 {
    font-size: 2rem;
  }
  .home .topContent p {
    font-size: 1.3rem;
  }
  .home .topContent .secOne {
    margin: 2%;
  }
  .home .topContent .secOne h2 {
    color: white;
    font-family: 'Eczar', serif;
  }
  .home .topContent .secTwo {
    margin: 2%;
  }
  .home .topContent .secTwo h2 {
    color: white;
    font-family: 'Eczar', serif;
  }
  .home .topContent .secThree {
    margin: 2%;
  }
  .home .topContent .secThree h2 {
    color: white;
    font-family: 'Eczar', serif;
  }
  .home .middlebtn .button {
    flex-direction: column;
    background-color: white;
    color: #00adb5;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    font-size: 3.5rem;
    font-family: 'Eczar', serif;
    border-radius: 20px;
    border: 2px solid black;
  }
  .home .middlebtn .button span {
    font-size: 5rem;
  }
  .home .middlebtn .button1 {
    background-color: black;
    margin-top: 2%;
    height: 7rem;
    font-size: 3rem;
    border-radius: 10px;
    color: white;
    padding: 10px ;
  }
  .testimon1 {
    display: flex;
    justify-content: center;
  }
  .testimon1 .test1 {
    text-align: center;
    margin: 5% ;
    border-radius: 20PX;
  }
  .testimon1 .test1 img {
    height: 75%;
  }
}
@media ( max-width: 500px ) {
  .bigimg {
    margin-top: 50%;
  }
  .one .imgcont {
    width: 110px;
    height: 110px;
  }
  .one .imgcont .logo3 {
    width: 80px;
    height: 80px;
    margin: 2% 1% 0 0;
  }
  .home .middleaccess p {
    display: none;
  }
  .home .topContent {
    flex-direction: column;
  }
  .home .topContent h2 {
    font-size: 2rem;
  }
  .home .topContent p {
    font-size: 1.3rem;
  }
  .home .topContent .secOne h2 {
    color: white;
    font-family: 'Eczar', serif;
  }
  .home .topContent .secTwo h2 {
    color: white;
    font-family: 'Eczar', serif;
  }
  .home .topContent .secThree h2 {
    color: white;
    font-family: 'Eczar', serif;
  }
  .home .testimon {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .home .testimon img {
    margin: 2%;
  }
  .home .middlebtn .button {
    flex-direction: column;
    background-color: white;
    color: #00adb5;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    font-size: 3rem;
    font-family: 'Eczar', serif;
    border-radius: 20px;
    border: 2px solid black;
  }
  .home .middlebtn .button span {
    font-size: 5rem;
  }
  .home .middlebtn .button1 {
    background-color: black;
    margin: 0 auto;
    margin-top: 2%;
    height: 5rem;
    font-size: 2rem;
    border-radius: 10px;
    color: white;
    padding: 12px;
  }
  .testimon1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .testimon1 .test1 {
    width: 90%;
    text-align: center;
    margin: 5% ;
    border-radius: 20PX;
  }
  .testimon1 .test1 p {
    font-size: 4rem;
    font-family: 'Eczar', serif;
  }
  .testimon1 .test1 img {
    width: 100%;
    height: 75%;
  }
  .bottomlogo p {
    font-size: 50rem;
  }
}
.imgover .bigimg1 {
  width: 50%;
  margin-bottom: 5%;
}
.abouttestimon3 {
  margin: 5%;
}
.abouttestimon3 h2 {
  margin: 2%;
}
.one img {
  margin-bottom: 15%;
}
.abouttestimon h1 {
  margin: 3%;
}
.aboutpage {
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  font-family: 'Eczar', serif;
}
.aboutpage h2 {
  font-family: 'Spicy Rice', cursive;
}
.aboutpage .abouttestimon1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.aboutpage .abouttestimon1 .abouttest1 {
  text-align: center;
  border: 3px solid black;
  margin: 0 auto;
  margin-bottom: 1%;
  border-radius: 20px;
}
.aboutpage .abouttestimon1 .aboutbottomlogo {
  width: 100%;
  height: 20rem;
  border-radius: 18PX;
}
.aboutpage .abouttestimon1 p {
  font-size: 2rem;
}
.bigimg1 {
  width: 50%;
  margin-bottom: 5%;
  display: block;
  margin: 0 auto;
  margin-top: 15%;
  border-radius: 25px;
  position: relative;
  z-index: -1;
}
@media (max-width: 1000px) {
  .oneabout .bigimg1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    z-index: 1;
  }
  .abouttestimon3 h1 {
    margin: 5%;
  }
}
@media (max-width: 1000px) {
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2%;
}
.bg,
.overlay {
  text-align: center;
}
img,
.overlay {
  transition: 0.3s all;
  border-radius: 3px;
}
.abouttestimon3 {
  text-align: center;
  font-family: 'Eczar', serif;
}
.abouttestimon3 h2 {
  font-family: 'Spicy Rice', cursive;
}
.bg {
  justify-content: center;
  float: left;
  position: relative;
  margin: 0.5%;
}
.bg img {
  height: 35rem;
  margin-bottom: -4px;
  border: 2px solid black;
  border-radius: 15px;
}
.bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 35rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  border: 2px solid black;
  border-radius: 15px;
}
.bg .overlay h2 {
  padding-top: 20%;
  font-family: 'Droid Serif', serif;
}
.bg .overlay p {
  font-family: 'Julius Sans One', sans-serif;
}
.bg:hover .overlay {
  opacity: 1;
}
.bg:hover img {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.aboutButton {
  background-color: #00adb5;
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 2%;
  height: 5rem;
}
.aboutButton h1 {
  color: white;
}
.aboutButton a {
  text-decoration: none;
}
@media screen and (max-width: 1148px) {
  .bg {
    max-width: 48%;
    margin: 1%;
  }
}
@media screen and (max-width: 768px) {
  .bg {
    float: none;
    max-width: 80%;
    margin: 1% auto;
  }
}
