
.footer-distributed{  
  border-top: 2px solid @toplink;
  height: 10vh;
  background-color: black;
  color: white;

    .footer-left{
      display: flex;
      justify-content: space-evenly;
        a{
          color: white;          
          font-size: 2rem;
          text-decoration: none;
          
        }
    } 
    .logofooter{
      display: flex;
    justify-content: center;
    }
    .footer-center{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
        p{
          // justify-content: flex-start;
        }
    }


}







