.footer {
  width: 100%;
  border-top: 2px solid @toplink;
  background: black;
  
  p {
    text-align: center;
    color: white;
    font-size: 1.6rem;
    padding: 20px;
  }

  .logobottom{
    display: block;
    margin: 0 auto;
  }
}